@font-face {
  font-family: BrandonMedium;
  src: url(BrandonMedium.otf);
}
@font-face {
  font-family: BrandonRegular;
  src: url(BrandonRegular.otf);
}
@font-face {
  font-family: BrandonLight;
  src: url(BrandonLight.otf);
}
#menu {
  font-family: BrandonMedium;
  z-index: 1;
  color: white;
  display: inline-grid;
}

h1{
  font-family: BrandonRegular;
  text-align: center;
  color: white;
  background-color: #2b3038;
}
body{
  background-color: #0d0f12;
  background-image: url('space-view.png');
  background-repeat: no-repeat;
  background-size: cover;
}
p{
  color: white;
  text-align: center;
  font-family: BrandonLight;
}
p.error{
  text-align: center;
  font-family: BrandonLight;
  color: red;
}
img.logo{
}

img.responsive {
  width: 100%;
  height: auto;
}
nav ul {
  list-style: none;
  padding-left: 0px;
  display: flex;
  padding-right: 60px;
  margin-top: 20px;
}

nav ul li {
  margin-right: 20px;
  margin-bottom: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: medium;
}
nav ul li a:hover{
  transition: 300ms all;
  color: #ccac55;
  text-decoration: underline;
}
img.welcome-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
img.timephoto{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
section {
  width:100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
img.background{

}

div.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
article.data-item{
  margin: 5px;
}
article.weer{
  color: white;
  font-size: 2em;
  font-family: BrandonRegular;
  text-align: center;
}
fieldset{
  font-family: BrandonRegular;
  font-size: x-large;
  color: white;
  border: #2b3038;
  text-align: center;
}
.clock{
  font-family: BrandonRegular;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #005288;
  font-size: 80px;
  border: 5px solid #005288;
  padding: 0px 5px 0px 5px;
}

/* Media queries */
@media (max-width: 768px) {
  div.flex-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
@media (min-width: 768px) {
  div.flex-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  @media(min-width: 992px) {
    .wrapper {
      max-width: 960px;
    }
  }

  @media(min-width: 1200px) {
    .wrapper {
      max-width: 1140px;
    }
  }

  .margin-top-40 {
    margin-top: 40px !important;
  }
}
